<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:batch="http://www.springframework.org/schema/batch" 
	xmlns:task="http://www.springframework.org/schema/task" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
						http://www.springframework.org/schema/batch
						http://www.springframework.org/schema/batch/spring-batch-2.2.xsd
						http://www.springframework.org/schema/task
				        http://www.springframework.org/schema/task/spring-task-3.1.xsd">    
	
	
	<!-- Job Repository -->		
	<bean id="jobRepository" class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean">
		<property name="transactionManager" ref="jobRepositoryTransactionManager" />
	</bean>
	
	<bean id="jobRepositoryTransactionManager" class="org.springframework.batch.support.transaction.ResourcelessTransactionManager" />

	<!-- Job Louncher -->
	<bean id="jobLauncher" class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
		<property name="jobRepository" ref="jobRepository" />
	</bean>

	
	<!-- JOB 1 : Evaluate all expressions with status not evaluated yet -->
	<batch:job id="expressionsEvaluatingProcessor">
		
		<!-- Step 1 : Evaluating and save all expressions -->
		<batch:step id="expressionsEvaluating" next="expressionsNotification">
			
			<batch:tasklet>
			
				<batch:chunk reader="expressionsReader" 
							 processor="expressionsProcessor"
					   		 writer="expressionsWriter" 
					   		 commit-interval="1" />
					   		 
			</batch:tasklet>
			
		</batch:step>
		
		<!-- Step 2 : Send a notification for each evaluated expression -->
		<batch:step id="expressionsNotification">
			
			<batch:tasklet ref="expressionsNotificationSender" />
			
		</batch:step>
		
	</batch:job>
	
		
	<!-- JOB: Step 1 (expressionsEvaluating) Beans -->
	
	<bean id="expressionsReader" class="br.usp.ime.escience.expressmatch.batch.expression.evaluate.reader.ExpressionsReader">
		 <property name="expressionStatus" value="EXPRESSION_TRANSCRIBED" />
	</bean>
	
	<bean id="expressionsProcessor" class="br.usp.ime.escience.expressmatch.batch.expression.evaluate.processor.ExpressionsProcessor">
	</bean>
	
	<bean id="expressionsWriter" class="br.usp.ime.escience.expressmatch.batch.expression.evaluate.writer.ExpressionsWriter">
	</bean>
	
		
	<!-- JOB: Step 2 (expressionsNotification) Beans -->
		
	<bean id="expressionsNotificationSender" class="br.usp.ime.escience.expressmatch.batch.expression.evaluate.notification.NotificationSender">
	</bean>
	
	<!-- JOB 1 - End of definitions -->
	
	
	<!-- JOB 2 : Evaluate all expressions with status validated for evaluation purpose -->
	<batch:job id="expressionsEvaluatingResultsProcessor">
		
		<!-- Step 1 : Evaluating and save all expressions -->
		<batch:step id="expressionsEvaluatingResults" next="expressionsNotificationResults">
			
			<batch:tasklet>
			
				<batch:chunk reader="expressionsResultReader" 
							 processor="expressionsResultProcessor"
					   		 writer="expressionsResultWriter" 
					   		 commit-interval="1" />
					   		 
			</batch:tasklet>
			
		</batch:step>
		
		<!-- Step 2 : Send a notification for each evaluated expression -->
		<batch:step id="expressionsNotificationResults">
			
			<batch:tasklet ref="expressionsNotificationSender" />
			
		</batch:step>
		
	</batch:job>
	
		
	<!-- JOB: Step 1 (expressionsResultingEvaluating) Beans -->
	
	<bean id="expressionsResultReader" class="br.usp.ime.escience.expressmatch.batch.expression.evaluate.reader.ExpressionsReader">
		<property name="expressionStatus" value="EXPRESSION_VALIDATED" />
	</bean>
	
	<bean id="expressionsResultProcessor" class="br.usp.ime.escience.expressmatch.batch.expression.evaluate.processor.ExpressionsProcessor">
	</bean>
	
	<bean id="expressionsResultWriter" class="br.usp.ime.escience.expressmatch.batch.expression.evaluate.writer.ExpressionsWriter">
	</bean>
	
	
	<!-- JOB 2 - End of definitions -->
	
	
	<!-- Task Scheduler Runner for expressionsEvaluatingProcessor-->
	<bean id="expressionsEvaluatingTaskRunner" class="br.usp.ime.escience.expressmatch.batch.general.TaskRunner">
		<property name="job" ref="expressionsEvaluatingProcessor" />
	</bean>
	
	<!-- Task Scheduler Runner for expressionsEvaluatingResultsProcessor-->
	<bean id="expressionsEvaluatingResultsTaskRunner" class="br.usp.ime.escience.expressmatch.batch.general.TaskRunner">
		<property name="job" ref="expressionsEvaluatingResultsProcessor" />
	</bean>
 
	<!-- Run every 7 days -->
	<task:scheduled-tasks>
		<task:scheduled ref="expressionsEvaluatingTaskRunner" method="run" fixed-delay="50000" />
	</task:scheduled-tasks>
		
</beans>
