<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html   xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:ui="http://java.sun.com/jsf/facelets" 
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:composite="http://java.sun.com/jsf/composite"
		xmlns:dp="http://java.sun.com/jsf/composite/components/drawable"
	    xmlns:p="http://primefaces.org/ui">
    
    <h:body>
 		
    	<ui:composition template="/pages/main/template/template.xhtml">
 
    		<ui:define name="content">
    			
    			<h:form>
        			<f:event type="preRenderView" listener="#{evaluateExpressionsPanelController.init}" />
    			</h:form>	
		    		
    			<h2>Transcribe expressions</h2>

				<dp:panel id="MyDP01" width="400" height="180" drawable="false"
					jsonVar="#{evaluateExpressionsPanelController.jsonLoadString}" name="Model Expression" zIndex="-2"
					onNext="#{evaluateExpressionsPanelController.nextEM}" onPrevious="#{evaluateExpressionsPanelController.previousEM}"/>
					
				<dp:panel id="MyDP02" width="750" height="350" drawable="true" name="Transcription"
					jsonVar="#{evaluateExpressionsPanelController.jsonString}" zIndex="2"
					onSave="#{evaluateExpressionsPanelController.saveStrokes}"
					onTestMatch="#{evaluateExpressionsPanelController.testMatch}" />
			
			<p:panel id="panelResults"
					 style="width: 350px !important; position: relative;"
					 header="Result"
					 rendered="#{not empty evaluateExpressionsPanelController.colorsBySymbol}"> 
				
				
				<p:dataGrid var="color" value="#{evaluateExpressionsPanelController.colorsBySymbol}" columns="4" layout="grid"> 
					<table width="100%">
						<tr>	
							<td style="width:20px; height: 20px; background-color: #{color.color};" 
								onclick="panelMyDP02.highlightStrokeByColor('#{color.color}'); panelMyDP01.highlightStrokeByColor('#{color.color}')" 
								ondblclick="panelMyDP02.highlightStrokeByColor(''); panelMyDP01.highlightStrokeByColor('')" >
							</td>
							<td>
								<h:outputText value="#{color.label}" />
							</td>
						</tr>
					</table>
				</p:dataGrid>
							
			</p:panel>
			<p:draggable for="panelResults" opacity="0.8" handle=".ui-panel-titlebar" stack=".ui-panel"/>
	
			</ui:define>
					
    	</ui:composition>
 
    </h:body>
 
</html>