<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:dp="http://java.sun.com/jsf/composite/components/drawable"
    xmlns:p="http://primefaces.org/ui">
    
    <h:body>
 
    	<ui:composition template="/pages/main/template/template.xhtml">
 			
    		<ui:define name="content">		
				<h:form>
					
					<p:panel id="dataSetExtraPanel" header="Dataset" style="width:300px !important;"
							 toggleable="true" toggleOrientation="vertical" collapsed="true">
						
						
						This option should be used if there is no data in the system, please be careful.
						<p/>
						<p:commandButton id="importDatasetButton" action="#{configController.importDataBase}" value="Import Initial Dataset"  ajax="false"></p:commandButton>
													
					</p:panel>
					<p:draggable handle=".ui-panel-titlebar" stack=".ui-panel" for="dataSetExtraPanel"/>
					
					<p:panel id="matchResultPanel" header="Match Requests" style="width:800px !important;"
							 toggleable="true" toggleOrientation="vertical" collapsed="true">
						
						<p:panelGrid styleClass="noBorder">
						
							<p:row>
								<p:column colspan="3">
								Please, provide information aboult the motivation to do another system test.
								</p:column>
							</p:row>
							
							<p:row>
								<p:column>
									Request Name:
								</p:column>
								<p:column >
									<h:inputText value="#{configController.matchRequest.requestName}" id="requestNameId" maxlength="45" size="50"/>
								</p:column>
								<p:column>
									<p:commandButton id="extractResultsButton" action="#{configController.extractExpressionResults}" value="Extract Results" ajax="false"></p:commandButton>
								</p:column>
							</p:row>
							<p:row>
								<p:column>
									Motivation:
								</p:column>
								<p:column colspan="2">
									<h:inputTextarea value="#{configController.matchRequest.desc}" id="matchRequestDescId" rows="2" cols="68"/>
								</p:column>
							</p:row>
							
							<p:row>
								<p:column colspan="3">
									Match Requests:
								</p:column>
							</p:row>
							
							<p:row>
								<p:column colspan="3">
									<p:dataTable value="#{configController.matchRequests}" var="req" paginator="true" paginatorPosition="bottom">
										<p:column headerText="Id" width="25">
											<h:outputText value="#{req.id}" />
										</p:column>
										<p:column headerText="Name" width="80">
											<h:outputText value="#{req.requestName}" />
										</p:column>
										<p:column headerText="Motivation">
											<h:outputText value="#{req.desc}" />
										</p:column>
										<p:column headerText="User" width="80">
											<h:outputText value="#{req.userInfo.name}" />
										</p:column>
										<p:column headerText="Date" width="80">
											<h:outputText value="#{req.insertDate}" />
										</p:column>
									</p:dataTable>
								</p:column>
							</p:row>
						
						</p:panelGrid>
						
						
					</p:panel>
					<p:draggable handle=".ui-panel-titlebar" stack=".ui-panel" for="matchResultPanel"/>
				
				</h:form>
				
				<h:form>
					
					<p:panel id="parametersPanel" header="Parameters" style="width:740px !important;"
							 toggleable="true" toggleOrientation="vertical" collapsed="true">
						
						If a parameter is not defined for a user, the <b>ROOT</b> parameter will be used instead.
						
						<p:panel id="userParametersPanel" header="User parameters" style="width:680px !important;">
							
							<p:dataTable value="#{configController.userParameters}" var="p" paginator="true"  paginatorPosition="bottom">
								<p:column headerText="Parameter">
									<h:outputText value="#{p.parameter.parameterName}" title="#{p.parameter.parameterDesription}"/>
								</p:column>
								<p:column headerText="Type">
									<h:outputText value="#{p.parameter.parameterType}" />
								</p:column>
								<p:column headerText="Value"  width="180">
									<h:inputText value="#{p.parameter_value}" />
								</p:column>
								<p:column headerText="" width="100">
									<p:commandButton id="deleteParameter" action="#{configController.deleteUserParameter(p.id)}" value="Delete" update="@form"></p:commandButton>
								</p:column>
							</p:dataTable> <br />
							<p:commandButton id="saveUserParameter" action="#{configController.saveUserParameters}" value="Save parameters"  update="@form"></p:commandButton>
							<p:commandButton id="addUserParameter"  type="button" onclick="PF('addUserParameterDialog').show()" value="Add parameter"></p:commandButton>
						</p:panel>
						<br />
						<p:panel id="rootParametersPanel" header="Root parameters" style="width:680px !important;" >
							
							<p:dataTable value="#{configController.rootParameters}" var="p" paginator="true" paginatorPosition="bottom">
								<p:column headerText="Parameter" width="180">
									<h:outputText value="#{p.parameter.parameterName}" title="#{p.parameter.parameterDesription}"/>
								</p:column>
								<p:column headerText="Type">
									<h:outputText value="#{p.parameter.parameterType}" />
								</p:column>
								<p:column headerText="Value">
									<h:outputText value="#{p.parameter_value}" />
								</p:column>
							</p:dataTable> 
							<br />
							<p:commandButton id="addRootParameter"  type="button" onclick="PF('addRootParameterDialog').show()" value="Add root parameter"></p:commandButton>
							 
						</p:panel>	
					</p:panel>
					<p:draggable handle=".ui-panel-titlebar" stack=".ui-panel" for="parametersPanel"/>
					
					<p:dialog header="Add root parameter" widgetVar="addRootParameterDialog" modal="true" closable="true" width="500">
						<p:panelGrid style="width:100%;" styleClass="noBorder">
							<p:row>
								<p:column>
									<h:outputLabel value="Parameter name:"/>
								</p:column>
								<p:column>
									<h:inputText value="#{configController.newRootParameter.parameter.parameterName}" />
								</p:column>
							</p:row>
							<p:row>
								<p:column>
									<h:outputLabel value="Parameter description:"/>
								</p:column>
								<p:column>
									<h:inputText value="#{configController.newRootParameter.parameter.parameterDesription}"/>
								</p:column>
							</p:row>
							<p:row>
								<p:column>
									<h:outputLabel value="Parameter type:"/>
								</p:column>
								<p:column>
									<h:selectOneMenu value="#{configController.newRootParameter.parameter.parameterType}">
										<f:selectItem itemLabel="Double" itemValue="double"/>
										<f:selectItem itemLabel="Integer" itemValue="integer"/>
										<f:selectItem itemLabel="String" itemValue="string"/>
										<f:selectItem itemLabel="Integer List" itemValue="integer_list"/>
										<f:selectItem itemLabel="Double List" itemValue="double_list"/>
										<f:selectItem itemLabel="String List" itemValue="string_list"/>
									</h:selectOneMenu>
								</p:column>
							</p:row>
							<p:row>
								<p:column colspan="2" style="height:15px;">
									<h:outputText value="If you've selected a list type, use semicolon to separate the values."/>
								</p:column>
							</p:row>
							<p:row>
								<p:column>
									<h:outputLabel value="Default Parameter value:"/>
								</p:column>
								<p:column>
									<h:inputText value="#{configController.newRootParameter.parameter_value}"/>
								</p:column>
							</p:row>
								<p:row>
								<p:column colspan="2">
									<p:commandButton id="addNewRootParameter" action="#{configController.addRootParameter}" value="Add parameter" update="@form"></p:commandButton>
								</p:column>
							</p:row>
						</p:panelGrid>
					</p:dialog>
					
					<p:dialog header="Add parameter" widgetVar="addUserParameterDialog" modal="true" closable="true" width="450">
						<p:panelGrid style="width:100%;" styleClass="noBorder">
							<p:row>
								<p:column>
									<h:outputLabel value="Parameter:"/>
								</p:column>
								<p:column>
									<h:selectOneMenu value="#{configController.newUserParameter.parameter.id}">
										<f:selectItems value="#{configController.availableUserParameters}" var="parameter" 
													   itemLabel="#{parameter.parameterName}" itemValue="#{parameter.id}">
										</f:selectItems>
									</h:selectOneMenu>
								</p:column>
							</p:row>
							<p:row>
								<p:column>
									<h:outputLabel value="Parameter type:"/>
								</p:column>
								<p:column>
									<h:outputLabel value="#{configController.newUserParameter.parameter.parameterType}" id="parameterTypeForUser"/>
								</p:column>
							</p:row>
							<p:row>
								<p:column>
									<h:outputLabel value="Default Parameter value:"/>
								</p:column>
								<p:column>
									<h:inputText value="#{configController.newUserParameter.parameter_value}"/>
								</p:column>
							</p:row>
							<p:row>
								<p:column colspan="2">
									<p:commandButton id="addNewUserParameter" action="#{configController.addUserParameter}" value="Add parameter" update="@form"></p:commandButton>
								</p:column>
							</p:row>
						</p:panelGrid>
					</p:dialog>
					
				</h:form>
				
					
				<p:panel id="adminMatchPanel" header="Admin Test Panel" style="width:600px !important;" toggleable="true">
					<p:panelGrid columns="4" style="width:100%;" styleClass="noBorder">
						<h:outputLabel value="Expression type:"/>
						<h:outputText value="#{configController.expressionTypeId}"/>
						<h:outputLabel value="User:"/>
						<h:outputText value="#{configController.expressionUser}"/>
						<h:outputLabel value="Expression Status:"/>
						<h:outputText value="#{configController.expressionStatus}"/>
						<h:outputLabel value="Expression match result:"/>
						<h:outputText value="#{configController.expressionMatchResult}"/>
					
					</p:panelGrid>
										
					<dp:panel id="MyDP01" width="500" height="200" drawable="false"
						jsonVar="#{configController.jsonLoadString}" name="Model Expression" zIndex="-2"
						onNext="#{configController.nextEM}" onPrevious="#{configController.previousEM}" draggable="false"/>
			
					<dp:panel id="MyDP02" width="500" height="200" drawable="false" name="User Transcription"
						jsonVar="#{configController.jsonString}" zIndex="2"  draggable="false"
						onNext="#{configController.nextUserEM}" onPrevious="#{configController.previousUserEM}"
						onTestMatch="#{configController.testMatch}" />
					
					<p:dataGrid var="color" value="#{configController.colorsBySymbol}" columns="6" layout="grid" rendered="#{not empty configController.colorsBySymbol}"> 
						<table width="100%">
							<tr>	
								<td style="width:20px; height: 20px; background-color: #{color.color};" 
									onclick="panelMyDP02.highlightStrokeByColor('#{color.color}'); panelMyDP01.highlightStrokeByColor('#{color.color}')" 
									ondblclick="panelMyDP02.highlightStrokeByColor(''); panelMyDP01.highlightStrokeByColor('')" >
								</td>
								<td>
									<h:outputText value="#{color.label}" />
								</td>
							</tr>
						</table>
					</p:dataGrid>
										
				</p:panel>
				
				<p:draggable handle=".ui-panel-titlebar" stack=".ui-panel" for="adminMatchPanel"/>
					
			</ui:define>
						
    	</ui:composition>
 
    </h:body>
 
</html>
