<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
    xmlns:p="http://primefaces.org/ui">
    
    <h:body>
 
    	<ui:composition template="/pages/main/template/template.xhtml">
 
    		<ui:define name="content">				
				<h:form>	    		
					<p:panel id="chart_panel" header="Chart Panel"  styleClass="noBorder"  style="width:1400px;">
						<p:chart type="bar" id="bar_chart_id" model="#{resultsController.barChartModel}" style="height:600px" rendered="#{resultsController.selectedChart eq 'bar_chart'}"/>
						<p:chart type="line" id="line_chart_id" model="#{resultsController.lineChartModel}" style="height:600px" rendered="#{resultsController.selectedChart eq 'line_chart'}"/>
					</p:panel>
					<p:draggable id="chart_panel_draggable" handle=".ui-panel-titlebar" stack=".ui-panel" for="chart_panel" />
					
					<p:panel id="chart_panel_options" header="Chart Options Panel" style="width:550px;" toggleable="true" collapsed="false">
						<p:panelGrid styleClass="noBorder" style="width:490px;">
							<p:row>
								
								<p:column>
									<h:outputLabel value="Chart type:"/>
								</p:column>
								
								<p:column>
									<p:selectOneMenu value="#{resultsController.selectedChart}" id="selectedChatId" > 
										<f:selectItem itemLabel="Select" itemValue=""/>
										<f:selectItem itemLabel="Line" itemValue="line_chart"/>
										<f:selectItem itemLabel="Bar" itemValue="bar_chart"/>
										<p:ajax event="change" process="@this" update="applyButton" listener="#{resultsController.onChartTypeChange}"/>
									</p:selectOneMenu>	
								</p:column>
							</p:row>
							<p:row>
								<p:column colspan="2">
									Model Expressions:
									<p:pickList id="typesPickList" value="#{resultsController.typesDualList}" var="eType" itemLabel="#{eType}" itemValue="#{eType}" showCheckbox="true">
										<p:ajax event="transfer" listener="#{resultsController.onTypeTransfer}" update="applyButton" global="false"/>
									</p:pickList>
								</p:column>
							</p:row>
							<p:row>
								<p:column colspan="2">
									Series:
									<p:pickList id="seriesPickList" value="#{resultsController.seriesDualList}" var="serie" itemLabel="#{serie}" itemValue="#{serie}" showCheckbox="true">
										<p:ajax event="transfer" listener="#{resultsController.onSeriesTransfer}" update="applyButton" global="false"/>
									</p:pickList>
								</p:column>
							</p:row>
							<p:row>
								<p:column >
									<p:commandButton value="Apply" id="applyButton" action="#{resultsController.updateCharts}" update="chart_panel chart_panel_draggable" disabled="#{(empty resultsController.selectedChart) or (empty resultsController.series) or (empty resultsController.modelExpressions)}"></p:commandButton>
								</p:column>
								<p:column >
									<p:commandButton value="Reload Data"  action="#{resultsController.init}"></p:commandButton>
								</p:column>
							</p:row>
						</p:panelGrid>
					</p:panel>
					
					<p:draggable id="chart_panel_options_draggable" handle=".ui-panel-titlebar" stack=".ui-panel" for="chart_panel_options" />
					
				</h:form>			
			</ui:define>
						
    	</ui:composition>
 
    </h:body>
 
</html>
