<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html   xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:ui="http://java.sun.com/jsf/facelets" 
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:composite="http://java.sun.com/jsf/composite"
		xmlns:dp="http://java.sun.com/jsf/composite/components/drawable"
	    xmlns:p="http://primefaces.org/ui">
    
    <h:body>
 		
    	<ui:composition template="/pages/main/template/template.xhtml">
 
    		<ui:define name="content">
    			<h2>Symbol Classifier</h2>

				<dp:panel id="MyDP02" width="300" height="300" drawable="true" name="symbolCtranscription"
					jsonVar="#{symbolClassificationController.jsonString}" zIndex="2"
					onSave="#{symbolClassificationController.saveStrokes}"/>
	
				
	<p:panel id="logPanel"
		style="width: 400px !important; position: relative;"
		header="Result Panel"
		rendered="#{not empty symbolClassificationController.result}">
		<p:inputTextarea value="#{symbolClassificationController.result}" rows="30" cols="43" autoResize="false" scrollHeight="300"/>
		
	</p:panel>				
					
	<p:draggable for="logPanel" opacity="0.8"
		handle=".ui-panel-titlebar" stack=".ui-panel"/>
		
				
	
			</ui:define>			
    	</ui:composition>
 
    </h:body>
 
</html>