
.signupButton, .signupButton:HOVER, .signupButton:VISITED {
	background-image: url("../images/signup.png");
	background-repeat: no-repeat;
	width: 125px;
	height: 125px;
	background-size: 125px 125px;
	border: none;
	background-color: white;
}

.smallSignupButton, .smallSignupButton:HOVER, .smallSignupButton:VISITED {
	background-image: url("../images/signup.png");
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	background-size: 60px 60px;
	border: none;
	background-color: white;
}

.applyButton, .applyButton:HOVER, .applyButton:VISITED {
	background-image: url("../images/Apply.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	border: none;
	background-color: white;
}


.smallCancelButton, .smallCancelButton:HOVER, .smallCancelButton:VISITED {
	background-image: url("../images/cancel.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	border: none;
	background-color: white;
}


.loginButton, .loginButton:HOVER, .loginButton:VISITED {
	background-image: url("../images/login.png");
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
	background-size: 48px 48px;
	border: none;
	background-color: white;
}

.clearButton, .clearButton:HOVER, .clearButton:VISITED {
	background-image: url("#{resource['images/btn-clear.png']}");
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	border: none;
	background-color: white;
}

.minusButton, .minusButton:HOVER, .minusButton:VISITED {
	background-image: url("#{resource['images/btn-minus.png']}");
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	border: none;
	background-color: white;
}

.plusButton, .plusButton:HOVER, .plusButton:VISITED {
	background-image: url("#{resource['images/btn-plus.png']}");
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	border: none;
	background-color: white;
}

.redoButton, .redoButton:HOVER, .redoButton:VISITED {
	background-image: url("#{resource['images/btn-redo.png']}");
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	border: none;
	background-color: white;
}

.saveButton, .saveButton:HOVER, .saveButton:VISITED {
	background-image: url("#{resource['images/btn-save.png']}");
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	border: none;
	background-color: white;
}

.zoonButton, .zoonButton:HOVER, .zoonButton:VISITED {
	background-image: url("#{resource['images/search-icon.png']}");
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	background-size: 32px 32px;
	border: none;
	background-color: white;
}

.matchButton, .matchButton:HOVER, .matchButton:VISITED {
	background-image: url("#{resource['images/btn-test.png']}");
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	background-size: 32px 32px;
	border: none;
	background-color: white;
}

.undoButton, .undoButton:HOVER, .undoButton:VISITED {
	background-image: url("#{resource['images/btn-undo.png']}");
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	border: none;
	background-color: white;
}

.nextButton, .nextButton:HOVER, .nextButton:VISITED {
	background-image: url("#{resource['images/btn_next.png']}");
	background-size: cover;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	border: none;
	background-color: white;
}

.previousButton, .previousButton:HOVER, .previousButton:VISITED {
	background-image: url("#{resource['images/btn-previous.png']}");
	background-size: cover;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	border: none;
	background-color: white;
}