@CHARSET "UTF-8";

body{
	overflow-y:hidden !important;
	font-family: sans-serif !important;
	font-size: 12px;
}

.redBoldText{
	font-weight: bold;
	font-family: sans-serif !important;
	font-size: 13px;
	color: red;
}

.welcome-text{
	font-weight: bold;
	font-family: sans-serif !important;
	font-size: 18px;
	
}

.small-warn{
	font-style:italic;
	font-family: sans-serif !important;
	font-size: 10px;
	
}

.loginDiv{
	border-radius:20px;
    position:fixed;
    right: 20px;
    width:460px;
    height:200px;
    margin-top: 20px;
    border: 2px solid;
    background-color: white;
}

.signupDiv{
	border-radius:20px;
    position:fixed;
    left: 50%;
    top: 50%;
    width:500px;
    margin-top: -250px;
    margin-left: -250px;
    border: 2px solid;
    background-color: white;
}