@CHARSET "UTF-8";

body{
	overflow-y:hidden !important;
	font-family: sans-serif !important;
	font-size: 12px;
	border: none;
	background-color: white;
}

.divLogo{
	width: 400px;
	height: 350px;
	position: fixed;
	right: 80px;
	bottom: 80px;
	background-image: url("../images/expressMatch_logo.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

.redBoldText{
	font-weight: bold;
	font-family: sans-serif !important;
	font-size: 13px;
	color: red;
}

.welcome-text{
	font-weight: bold;
	font-family: sans-serif !important;
	font-size: 18px;
	
}

.small-warn{
	font-style:italic;
	font-family: sans-serif !important;
	font-size: 10px;
	
}

.loginDiv{
	border-radius:20px;
    position:fixed;
    right: 20px;
    top: 5px;
    width:460px;
    height:200px;
    margin-top: 20px;
    border: 2px solid;
    background-color: white;
}

.signupDiv{
	border-radius:20px;
    position:fixed;
    left: 50%;
    top: 10%;
    width:500px;
    margin-left: -250px;
    border: 2px solid;
    background-color: white;
}


.noBorder tr, .noBorder td {  
    border: none !important;  
}

.fixedPanel {
	position: fixed;
}

.hidden {
     display: none;
}

.visible {
     display: block;
}