<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
   	  xmlns:p="http://primefaces.org/ui">
   	  
    <body>
	    <ui:composition>
	    
 		<div style="position: fixed; bottom: 10px; left: 10px">                
            <h:outputText value="Welcome #{userController.user.nick} - "/>
 			<h:outputLink value="#{facesContext.externalContext.requestContextPath}/j_spring_security_logout">
            	<h:outputText value="(Logout)"/>
            </h:outputLink> 
 		</div>
 		
		<div style="position: fixed; bottom: 25px; right: 70px">
			<h:graphicImage library="images" name="logo_vision.png" width="50%" height="50%" title="Computer Vision Research Group"/>
		</div>
		<div style="position: fixed; bottom: 20px; right: 0px">
			<h:graphicImage library="images" name="escience.jpeg" width="50%" height="50%" title="eScience Group"/>
		</div>
		<div style="position: fixed; bottom: 10px; right: -50px">
			<h:graphicImage library="images" name="ime.png" width="50%" height="50%" title="Institute Of Mathematics and Statistics"/>
		</div>
 
	    </ui:composition>
    </body>
</html>