<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
    debug="false">
 
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">

		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="LevelToMatch" value="info" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="LevelToMatch" value="fatal" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="LevelToMatch" value="warn" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
		<filter class="org.apache.log4j.varia.DenyAllFilter" />
    
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{dd/MM/yy hh:mm:ss:sss z}] %5p %c{2}: %m%n" />
        </layout>
        
    </appender>
 
    <appender name="EXPRESS_MATCH_BATCH_LOG_FILE" class="org.apache.log4j.RollingFileAppender">
 
        <param name="File" value="/tmp/expressMatch/log/batch/eMatch.log" />
        <param name="MaxBackupIndex" value="40" />
 
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{dd/MM/yy hh:mm:ss:sss z}] %5p %c{2}: %m%n" />
        </layout>
 
    </appender>
 
    <appender name="EXPRESS_MATCH_MAIN_LOG_FILE" class="org.apache.log4j.RollingFileAppender">
 
        <param name="File" value="/tmp/expressMatch/log/main/eMatch.log" />
        <param name="MaxBackupIndex" value="40" />
 
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{dd/MM/yy hh:mm:ss:sss z}] %5p %c{2}: %m%n" />
        </layout>
 
    </appender>
     
    <appender name="MAIN_ASSYNC" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="EXPRESS_MATCH_MAIN_LOG_FILE" />
    </appender>
    
    <appender name="BATCH_ASSYNC" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="EXPRESS_MATCH_BATCH_LOG_FILE" />
    </appender>
 	
 
    <logger name="org.hibernate">
        <level value="DEBUG" />
    </logger>
 
    <logger name="java.sql">
        <level value="debug" />
    </logger>
	  
    <logger name="br.usp.ime.escience.expressmatch">
        <level value="DEBUG" />
        <appender-ref ref="MAIN_ASSYNC" />
    </logger>
    
    <logger name="br.usp.ime.escience.expressmatch.batch" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="BATCH_ASSYNC" />
    </logger>
 
</log4j:configuration>